* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.warp {
  max-width: 1800px;
  margin: 0 auto;
  border: 2px solid rgb(255, 0, 0);
}
header {
  width: 100%;
  background-color: chocolate;
  .logo {
    border: 2px solid rgb(144, 0, 255);
    width: 50%;
    height: auto;
    float: left;
    display: flex;
    // justify-content: center;
    align-items: center;
    h1{
        font-size: 20px;
        font-weight: bolder;
        color: brown;
    }
    .square{
        width: 0; /* 设置一个初始宽度为0，后面通过padding来设置宽度 */
        height: 0; /* 设置一个初始高度为0，后面通过padding来设置高度 */
        padding-top: 2%; /* 使用padding-top来设置高度，与宽度相等 */
        padding-left: 2%; /* 使用padding-left来设置宽度，与高度相等 */
        background-color: blue;
        margin-right: 20px;
        margin-left: 20px;
    }
  }
  .nav {
    width: 50%;
    float: right;
    border: 2px solid rgb(44, 126, 29);
    .menu{
        float: right;
        display: flex;
        width: 40%;
        justify-content: space-between;
        border: 2px solid rgb(126, 63, 29);
        margin: 0 50px;
    }
  }
}

main {
    border: 10px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 100px; //要詢問，沒加這個會跟header黏再一起
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    .brown {
      width: 40%; //下百分比沒有背景顏色
      background: #e6dace;
    
      height: auto;
      
    
    }
    .photo img {
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
    .main_box {
      width: 55%;
      max-width: 56%;
      // 問我該寫死高度，還是用%
      height: 50%;
      display: flex;
      margin: 0 auto;
      border: 2px solid palegreen;
      // position: relative;
      left: 200px;
      
    }
    .profile {
      width: 70%;
      max-width: 340px;
      border: 2px solid purple;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #e6dace;
    }
    .profile > h2 {
      font-size: 20px;
      // border-bottom: 3px solid rgb(46, 127, 33);
      // padding-bottom: 15px;
      position: relative;
    }
    .profile > h2::after {
      content: "";
      // position: absolute;
      display: block;
      width: 70%;
      height: 30px;
      border-bottom: 3px solid blue;
    }
    .profile_footer {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: white;
    }
    .footer_icon {
      width: 100%;
      display: inline-flex;
      list-style: none;
      border: 1px solid rgb(140, 210, 153);
      li {
        margin: 0 30px;
        // 問與justify-content: space-around;有何區別
      }
    }
    .main-right {
      .main-right .btn_box {
        margin-left: 20px;
        button {
          padding: 9px 30px;
          border-radius: 20px;
          border: 2px solid #000;
          background-color: #0050ff;
          color: white;
          &:hover {
            //詢問&，為何不是button:hover
            color: #000;
            background-color: white;
            border: 2px solid #0050ff;
          }
        }
        button:nth-child(2) {
          background-color: white;
          color: #000;
          &:hover {
            background-color: #0050ff;
            color: white;
          }
        }
       
      }
      h2,
      h3 {
        border: 5px solid red;
        text-align: center;
        font-size: x-large;
      }
      p {
        padding-top: 20px;
        margin: 0 auto;
        text-align: center;
        width: 85%;
      }
    }
  }

footer{
    width: 100%;
    margin-top: 20px;
    .box_p{
        width: 60%;
        float: left;
    }
    .community{
        width: 40%;
        float: right;
        display: flex;
        justify-content: space-between;
        li{
            display: flex;
            justify-self: center;
            flex-direction: column;
            align-items: center;
            padding-bottom: 100px;
        }
        .icon{
            display: flex;
            justify-content: space-around;
            width: 200px;
        }
    }
}


