aside{
    width: 100%;
    /* background-color: chartreuse; */
    position: fixed;
    bottom: 100px;
    right: 50px;
}
.user {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: flex-end; /* 垂直居中 */
    flex-direction: column; 
   
  }
  
  .user i {
    font-size: 20px;
    z-index: 1;
    color: white;
    background-color: gray;
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
  }
